<!DOCTYPE html>
<html>
<head>
  <style>
    /* 預設字體大小 */
    body {
      font-size: 16px;
    }
    
    /* 在電腦上，字體大小不變 */
    @media only screen and (min-width: 481px) {
      body {
        font-size: 20px;
      }
    }
    
    /* 在手機上，字體大小更改為 40px */
    @media only screen and (max-width: 480px) {
      body {
        font-size: 40px;
      }
    }
  </style>
</head>

</html>